@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

:root {
    --keylime: #DCFFB0;
    --lightgrey: #a5a5a5;
    --darkgrey: #303030;
    --darkestgrey: #050405;
    --accent: #C1FF72;
    --white: #ffffff;
    --black: #000000;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}

span {
    color: var(--accent);
}

/* HEADER & NAVIGATION SECTION */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    color: var(--white);
    background-size: cover;
    background-color: var(--darkestgrey);
}

header ion-icon {
    color: var(--white);
}

header h1,
header h1 a,
header nav {
    color: var(--white);
    padding: 0 30px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

header h1,
header nav {
    font-size: 28px;
    font-weight: 500;
}

/* Regular Navigation Part */
header nav {
    font-size: 16px;
}

header nav a {
    margin-left: 5px;
    color: var(--white);
    padding: 0 30px;
}

header nav a:hover {
    color: var(--accent);
}

/* For Dropdown Menu Part */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 100%;
}

.dropdown .dropbtn {
    color: var(--white);
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: var(--darkestgrey);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}

.dropdown-content a:hover {
    color: var(--accent);
    background-color: var(--darkestgrey);
}

/* HERO IMAGE SECTION */
.hero {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url("../images/laptop-on-table-with-notebook-javascript.jpg");
    padding: 0 5%;
    text-align: left;
}

.hero h2 {
    font-size: 100px;
    margin: 0;
    color: var(--white);
    text-shadow: 2px 2px 2px var(--black);
}

.hero p {
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    color: var(--white);
    text-shadow: 2px 2px 2px var(--black);
}

.hero .white-arrow,
.hero .black-arrow {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.hero .white-arrow {
    color: var(--white);
    z-index: 2;
}

.hero .black-arrow {
    bottom: -28px;
    color: var(--black);
    z-index: 1;
}

/* HALF BOXES (INTRODUCTION & GET STARTED SECTIONS) */
.halfbox {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: var(--keylime);
}

/* Creates a two-column layout within elements with the class .halfbox and .halfbox2. Flex 1 lets them grow and shrink equally while 50% sets the width sharing both colums equally */
.halfbox>div {
    flex: 1;
    width: 50%;
}

.halfbox-writing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 0 40px;
}

.halfbox h2 {
    font-size: 60px;
    color: var(--darkestgrey);
    text-align: left;
    margin: 10px 0 15px 0;
    padding: 0 40px;
    font-family: 'Playfair Display', serif;
}

.halfbox p {
    margin: 0;
    text-align: left;
    padding: 15px 40px;
}

p.subtitle {
    margin-left: 40px;
    padding: 0;
}

.halfbox img {
    max-height: 700px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.halfbox-btn {
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin: 20px 40px;
    color: var(--white);
    background-color: var(--black);
    text-align: center;
    text-decoration: none;
}

/* KEY FEATURES SECTION */
.key-features {
    display: flex;
    height: 700px;
    align-items: center;
    background-color: var(--black);
    background-image: url("../images/gaming-background.jpg");
    justify-content: center;
}

.key-surround {
    border: 2px solid var(--accent);
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: var(--black);
    height: 500px;
    justify-content: flex-start;
}

.key-surround h2 {
    margin-top: 0;
    padding: 10px 20px;
    font-size: 70px;
    color: var(--white);
    text-shadow: 2px 2px 2px var(--accent);
}

.key-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.key-flex>div {
    margin: 0 10px;
    color: var(--white);
    text-shadow: 4px 4px 4px var(--black);
    text-align: center;
    background-color: #c2ff7277;
    padding: 20px 0;
}

.key-flex h3 {
    font-size: 20px;
}

.key-flex p {
    font-size: 16px;
}

/* QUIZ SECTION */
.quiz-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: var(--black);
}

.quiz-container {
    margin-top: 40px;
    color: var(--white);
    font-size: 70px;
    padding-bottom: 0;
    width: 700px;
    text-align: center;
}

.quiz-btn {
    width: 150px;
    padding: 10px;
    margin: 20px 40px;
    color: var(--black);
    background-color: var(--accent);
    text-align: center;
    height: auto;
}

.quiz-titles {
    text-shadow: 2px 2px 2px var(--accent);
    padding: 0;
    margin: 0;
}

.quiz-instructions {
    font-size: 16px;
}

/* QUESTIONS */
.question-one {
    border: 4px solid var(--accent);
    padding: 20px;
    width: 100%;
    align-items: center;
    height: 600px;
    justify-content: center;
}

.question-one img {
    width: 100%;
    height: 150px;
}

.question-one p,
#question {
    background-color: var(--accent);
    font-size: 16px;
    padding: 20px;
    color: var(--black);
    justify-content: center;
    align-items: center;
}

#answers .answer {
    width: 100%;
    padding: 20px;
    color: var(--white);
    background-color: var(--darkgrey);
    text-align: left;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

#answers .answer:hover {
    background-color: var(--accent);
    color: var(--black);
}

/* TIMER DISPLAY SECTION */
/* The following timer display is a modified version of a tutorial I followed by https://www.patreon.com/onlinetutorials // 
Project titled: Countdown Timer in Vanilla Javascript | CSS SVG Circle Countdown Time Animation */
.quizCountdown {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 175px;
    background-color: var(--black);
}

.quizCountdown .timeCircle {
    width: 155px;
    justify-content: center;
    display: flex;
    position: relative;
    height: 155px;
    align-items: center;
}

.quizCountdown .timeCircle svg {
    width: 155px;
    position: relative;
    transform: rotate(270deg);
    height: 155px;
}

.quizCountdown .timeCircle svg circle {
    width: 100%;
    stroke-width: 8;
    height: 100%;
    stroke: #282828;
    stroke-linecap: round;
    fill: transparent;
    transform: translate(5px, 5px);
}

.quizCountdown .timeCircle svg circle:nth-child(2) {
    stroke: var(--accent);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.quizCountdown div {
    font-weight: 600;
    position: absolute;
    color: var(--white);
    text-align: center;
    font-size: 30px;
}

.quizCountdown div span {
    position: absolute;
    letter-spacing: 0.1em;
    margin-top: 7px;
    font-weight: 400;
    font-size: 18px;
    transform: translateX(-50%) translateY(-10px);
}

.quizCountdown .marker {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}

.quizCountdown .marker::before {
    content: '';
    width: 18px;
    border-radius: 50%;
    background: var(--accent);
    height: 18px;
    top: 2px;
    box-shadow: 0 0 20px var(--accent),
        0 0 60px var(--accent);
    position: absolute;
}

.finishMessage {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    line-height: 0.6em;
    display: none;
}

.finishMessage span {
    font-size: 18px;
    font-weight: 300;
}

/* FEEDBACK IN QUIZ FOR RIGHT OR WRONG ANSWER */
.feedback-popup,
#feedback-message {
    width: 700px;
    background-color: var(--accent);
    color: var(--black);
    text-align: center;
    display: none;
    position: absolute;
    z-index: 100;
}

#soundToggleBtn {
    background-color: var(--black);
    color: var(--accent);
    font-size: 30px;
    display: flex;
}

#endContainer {
    margin-top: 40px;
    color: var(--white);
    font-size: 70px;
    padding-bottom: 0;
    width: 700px;
    text-align: center;
}

.end-container {
    display: none;
}

.end-container.show {
    display: block !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}