@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

:root {
    --keylime: #DCFFB0;
    --lightgrey: #a5a5a5;
    --darkgrey: #303030;
    --darkestgrey: #050405;
    --accent: #C1FF72;
    --white: #ffffff;
    --black: #000000;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}

span {
    color: var(--accent);
}

/* HEADER & NAVIGATION SECTION */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    color: var(--white);
    background-size: cover;
    background-color: var(--darkestgrey);
}

header ion-icon {
    color: var(--white);
}

header h1,
header h1 a,
header nav {
    color: var(--white);
    padding: 0 30px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

header h1,
header nav {
    font-size: 28px;
    font-weight: 500;
}

/* Regular Navigation Part */
header nav {
    font-size: 16px;
}

header nav a {
    margin-left: 5px;
    color: var(--white);
    padding: 0 30px;
}

header nav a:hover {
    color: var(--accent);
}

/* For Dropdown Menu Part */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 100%;
}

.dropdown .dropbtn {
    color: var(--white);
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: var(--darkestgrey);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}

.dropdown-content a:hover {
    color: var(--accent);
    background-color: var(--darkestgrey);
}

/* HERO IMAGE SECTION */
.hero {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url("../images/laptop-on-table-with-notebook-javascript.jpg");
    padding: 0 5%;
    text-align: left;
}

.hero h2 {
    font-size: 100px;
    margin: 0;
    color: var(--white);
    text-shadow: 2px 2px 2px var(--black);
}

.hero p {
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    color: var(--white);
    text-shadow: 2px 2px 2px var(--black);
}

.hero .white-arrow,
.hero .black-arrow {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.hero .white-arrow {
    color: var(--white);
    z-index: 2;
}

.hero .black-arrow {
    bottom: -28px;
    color: var(--black);
    z-index: 1;
}

/* HALF BOXES (INTRODUCTION & GET STARTED SECTIONS) */
.halfbox,
.halfbox2 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-color: var(--keylime);
}

/* Creates a two-column layout within elements with the class .halfbox and .halfbox2. Flex 1 lets them grow and shrink equally while 50% sets the width sharing both colums equally */
.halfbox>div,
.halfbox2>div {
    flex: 1;
    width: 50%;
}

.halfbox-writing,
.halfbox2-writing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 0 40px;
}

.halfbox h2,
.halfbox2 h2 {
    font-size: 40px;
    color: var(--darkestgrey);
    text-align: left;
    margin: 10px 0 15px 0;
    padding: 0 40px;
    font-family: 'Playfair Display', serif;
}

.halfbox p,
.halfbox2 p {
    margin: 0;
    text-align: left;
    padding: 15px 40px;
}

p.subtitle {
    margin-left: 40px;
    padding: 0;
}

.halfbox img,
.halfbox2 img {
    max-height: 700px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.halfbox-btn {
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin: 20px 40px;
    color: var(--white);
    background-color: var(--black);
    text-align: center;
    text-decoration: none;
}

/* KEY FEATURES SECTION */
.key-features {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    background-image: url("../images/gaming-background.jpg");
}

.key-surround {
    border: 2px solid var(--accent);
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: var(--black);
    height: 500px;
    justify-content: flex-start;
}

.key-surround h2 {
    margin-top: 0;
    padding: 10px 20px;
    font-size: 100px;
    color: var(--white);
    text-shadow: 4px 4px 4px var(--accent);
}

.key-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.key-flex>div {
    margin: 0 10px;
    color: var(--white);
    text-shadow: 4px 4px 4px var(--black);
    text-align: center;
    background-color: #c2ff7277;
    padding: 20px 0;
}

.key-flex h3 {
    font-size: 20px;
}

.key-flex p {
    font-size: 16px;
}

/* QUIZ SECTION */
.quiz-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: var(--black);
}

.quiz-container {
    margin-top: 40px;
    color: var(--white);
    font-size: 130px;
    padding-bottom: 0;
    width: 700px;
    text-align: center;
}

.quiz-btn {
    width: 150px;
    padding: 10px;
    margin: 20px 40px;
    color: var(--black);
    background-color: var(--accent);
    text-align: center;
    height: auto;
}

.quiz-titles {
    text-shadow: 4px 4px 4px var(--accent);
    padding: 0;
    margin: 0;
}

.quiz-instructions {
    font-size: 16px;
}